@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.body {
    height: 100%;
}

/* ERRORS */

.login-error {
    padding-top: 0.5em;
    font-size: 1rem;
    color: red;
    text-align: center;
}

.register-error {
    padding-top: 0.4em;
    font-size: 1rem;
    color: red;
    text-align: center;
}

/* LOGIN */

.login-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    background-color: #5CDB95;
}

.login-container {
    min-height: 400px;
    width: 80%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #EDF5E1;
    border-radius: 10px;
}

.login-title {
    font-size: 1.2rem;
    letter-spacing: 0.8px;
    text-align: center;
    padding: 0.8em;
    border-radius: 10px 10px 0 0;
    background-color: #05386B;
    color: #EDF5E1;
}

.login-btn-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.select-register-btn {
    width: 45%;
    padding: 0.5em;
    font-size: 1rem;
    letter-spacing: 0.4px;
    border-radius: 5px;
    border: none;
    background-color: #05386B;
    color:#EDF5E1
}

.select-register-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.select-register-active {
    width: 45%;
    padding: 0.5em;
    font-size: 1rem;
    letter-spacing: 0.4px;
    border-radius: 5px;
    border: none;
    background-color: #379683;
    color:#EDF5E1
}

.select-register-active:hover {
    cursor: pointer;
    opacity: 0.8;
}

.select-login-btn {
    width: 45%;
    padding: 0.5em;
    font-size: 1rem;
    letter-spacing: 0.4px;
    border-radius: 5px;
    border: none;
    background-color: #05386B;
    color: #EDF5E1;
}

.select-login-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.select-login-active {
    width: 45%;
    padding: 0.5em;
    font-size: 1rem;
    letter-spacing: 0.4px;
    border-radius: 5px;
    border: none;
    background-color: #379683;
    color:#EDF5E1
}

.select-login-active:hover {
    cursor: pointer;
    opacity: 0.8;
}

.email-input-container {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0;
}

.login-email-input {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}

.login-email-input::placeholder {
    letter-spacing: 0.4px;
}

.password-input-container {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0;
    margin-bottom: 1em;
}

.login-password-input {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}

.login-password-input::placeholder {
    letter-spacing: 0.4px;
}

.user-login-btn {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 1rem;
    letter-spacing: 0.2px;
    border-radius: 5px;
    border: none;
    margin-bottom: 1em;
    background-color: #05386B;
    color: #EDF5E1;
}

.user-login-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.guest-login-btn {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1rem;
    letter-spacing: 0.2px;
    border-radius: 5px;
    border: none;
    background-color: #05386B;
    color: #EDF5E1;
}

.guest-login-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* REGISTER */

.register-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    background-color: #5CDB95;
}

.register-container {
    min-height: 400px;
    width: 80%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #EDF5E1;
    border-radius: 10px;
}

.register-btn-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.user-register-btn {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1rem;
    letter-spacing: 0.4px;
    border-radius: 5px;
    border: none;
    background-color: #05386B;
    color: #EDF5E1;
}

.user-register-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.username-input-container {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0;
}

/* NAV */

.nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
    background-color: #05386B;
}

.logo {
    font-size: 1rem;
    color: #EDF5E1;
}

.greeting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EDF5E1;
}

.greeting {
    font-size: 0.8rem;
    padding-right: 0.4em;
}

.logout-button {
    background-color: #379683;
    color: #EDF5E1;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0.5em 0.5em;
}

.logout-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* HOME */

.home-page {
    min-height: 100vh;
    background-color: #5CDB95;
    /* padding-bottom: 2em; */
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0;
}

.list-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 800px;
    margin: 0.5em 0;
    padding: 1.5em 1em;
    background-color: #EDF5E1;
    border-radius: 10px;
}

.list-item-container:hover {
    cursor: pointer;
    opacity: 0.8;
}

.list-item-title {
    font-size: 1rem;
    letter-spacing: 0.4px;
}

.list-item-arrow {
    color: #05386B;
}

.add-item-form {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 0 auto;
    background-color: #EDF5E1;
    border-radius: 10px;
}

.add-item-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
}

.add-item-input {
    padding: 0.5em 0.5em;
    border-radius: 5px;
    border: none;
}

.add-item-description {
    padding: 0.5em 0.5em;
    border-radius: 5px;
    border: none;
    resize: none;
}

.add-item-status {
    padding: 0.5em 0.5em;
    border-radius: 5px;
}

.add-btn-container {
    padding: 1em 1em;
    margin: 0 auto;
}

.add-item-btn {
    background-color: #05386B;
    color: #EDF5E1;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0.5em 0.5em;
}

.add-item-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.back-btn-container {
    padding: 1em 1em;
}

.back-btn {
    background-color: #05386B;
    color: #EDF5E1;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0.5em 0.5em;
}

.back-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.add-item-submit {
    width: 100%;
    margin: 0 auto;
    margin-top: 1em;
    padding: 0.5em;
    font-size: 1rem;
    letter-spacing: 0.2px;
    border-radius: 5px;
    border: none;
    margin-bottom: 1em;
    background-color: #05386B;
    color: #EDF5E1;
}

.add-item-submit:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    /* NAV */
    .logo {
        font-size: 1.2rem;
        letter-spacing: 0.8px;
    }

    .greeting {
        font-size: 1rem;
        letter-spacing: 0.2px;
    }

    .logout-button {
        font-size: 1rem;
    }

    /* HOME */
    .add-item-btn {
        font-size: 1rem;
    }

    .back-btn {
        font-size: 1rem;
    }

}

@media screen and (min-width: 768px) {
    /* NAV */
    .nav {
        padding: 0 1em;
    }

    .logo {
        font-size: 1.6rem;
    }

    .greeting {
        padding-right: 1em;
    }
}